.card_item {
    max-width: 500px;
    margin: 15px;
    border: 2px solid #f5f5f5;
    padding: 0 0px 20px;
    height: max-content;

    &__img {
        max-width: 100%;
    }

    &__extra_info {
        padding: 20px 20px 0px;
    }

    &__desc_text {
        font-size: 16px;
        margin: 20px 0;
    }

    &__star_img {
        display: flex;
        margin: 0px 0 15px;
    }

    &__star_icon {
        width: 25px;
    }

    &__hashtag {
        border-bottom: 1px solid #000;
        color: blue;
    }
}
