.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--layout-bg-color);
    margin-bottom: 10px;

    &__logo {
        padding: 10px;
    }

    &__logo_zankoo {
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--layout-text-color);
    }

    &__card_signin {
        padding-top: 20px;
    }

    &__card, &__sign_in {
        color: var(--layout-text-color);
        padding: 0 10px;
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
    }
    &__card:hover, &__sign_in:hover {
        color: var(--link-hover-item);
        transition: .3s ease-in;
    }
}
