@import "../../scss/variables";

.footer {
    background-color: $layout-bg;
    padding: 10px;

    &__right_saved {
        text-align: center;
        color: $white;
        padding: 10px;
    }
}
