@import "../../scss/variables";

.footer {
    background-color: $layout-bg;
    width: 100%;

    &__right_saved {
        text-align: center;
        color: $layout-text-color;
        padding: 10px;
    }
}
