:root {
    /* Header */
    --layout-bg-color: #203040;
    --layout-text-color: #fff;

    /* Cards */
    --border-bg-color:  rgb(179, 179, 179);
    --card_body-bg-color: #f8f8f8;
    --card-text-color: #2020a0;

    /* Sign In */
    --border-hover-color: #5a5a5a;
    --border-input-color: silver;
    --button-bg-color: #f0c040;
    --button-hover-color: black;
    --input-exception-color: red;

    /* All */
    --link-hover-item: #ff8000;
}
