$layout-bg:  #203040;                                  // header/footer
$layout-text-color: #fff;                              // text-header/footer
$link-hover-item: #ff8000;                         // hover-color
$border-bg-color:  rgb(179, 179, 179);      // card-border-color
$card-body-bg-color: #f8f8f8;                  // card-body-bg
$card-text-color: #2020a0;                          // card-text-color
$border-hover-color: #5a5a5a;                   // input hover border
$input-exception-color: rgb(255, 0, 0);    // exception text color
$button-bg-color: #f0c040;                          // button background
$border-input-color: rgb(192, 192, 192);    // input border color 
$button-hover-color: rgb(0, 0, 0);              // button hover color
