.cardlist_container {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    justify-content: center;
    margin-bottom: 12px;
}

@media (max-width: 1230px) {
    .cardlist_container {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 320px));
        justify-content: center;
    }
}

@media (max-width: 972px) {
    .cardlist_container {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 320px));
        justify-content: center;
    }
}

@media (max-width: 610px) {
    .cardlist_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 320px));
    }
}
