.card_list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 12px;
    min-height: calc(100vh - 184px);
    overflow: hidden;
}


@media (max-width: 1230px) {
    .card_list_container {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 320px));
        justify-content: center;
    }
}

@media (max-width: 972px) {
    .card_list_container {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 320px));
        justify-content: center;
    }
}

@media (max-width: 610px) {
    .card_list_container {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 320px));
    }
}
